  .container{
    margin: auto;
    width: 90%;
  }
  /*
  .container .title-bar ul li h1{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color:#3ec0fd; 
  }
  .container .title-bar ul li h2.Name{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color:#3ec0fd; 
  }
  .container .title-bar ul li h2{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color:rgba(0, 0, 0, 0.7); 
  }
  .container .title-section.section-one .logo img{
    width: 82%;
    margin: 7% 0% 0% 8%;
  }
  .container .title-bar {
      border-bottom: 1px solid black;
  }
  .container .title-bar ul{
  margin: 0% 0% 0% 11%;
  padding: 0px 0px 0px 0px;
  }
  .container .title-bar ul li {
  display: inline-block;
    list-style: none;
  }
  */
  .container .title-container{
    border-bottom: 1px solid black;
  }
  .container .title-container .title-section {
    display: inline-block;
  }
  .container .title-container .title-section.section-one {
    width: 20%;
  }
  .container .title-section.section-one .logo img{
    width: 82%;
    margin: 7% 0% 0% 8%;
  }
  .container .title-container .title-section.section-two {
    width: 60%;
  }
  .container .title-container .title-section.section-three {
    width: 10%;
  }
  .container .title-container .title-section.section-two h1{
    font-family: 'Roboto', sans-serif;
    color:#3ec0fd; 
    font-size: 40px;
    position: absolute;
    top: 0%;
  }
  .container .title-container .title-section.section-two p{
    font-family: 'Roboto', sans-serif;
    color:rgba(0, 0, 0, 0.7); 
    font-size: 22px;
    position: absolute;
    top:6%
  }
  .container .title-container .title-section.section-three h2{
    font-family: 'Roboto', sans-serif;
    color:#3ec0fd; 
  }
  .container .event-container{
    margin-top: 1%;
  }
  .container .event-container .event-section {
    display: inline-block;
  }
  
  .container .event-container .event-section.section-one {
    width: 20%;
    vertical-align: top;
  }
  
  .container .event-container .event-section.section-two {
    width: 79%;
    color: white;
    background-color: white;
  }
  .container .event-container:after {
    content: "";
    display: table;
    clear: both;
  }
  .container .event-container .event-section.section-two .user-access-bar{
    display: inline-block;
  }
  .container .event-container .event-section.section-two .user-access-bar.section-one {
    width: 33%;
  }
  .container .event-container .event-section.section-two .user-access-bar.section-two {
    width: 33%;
  }
  .container .event-container .event-section.section-two .user-access-bar.section-three {
    width: 33%;
  }
  .container .event-container .event-section.section-two .user-access-bar.section-one p{
    font-family: 'Roboto', sans-serif;
    color: black;
    display: inline-block;
  }
  .container .event-container .event-section.section-two .user-access-bar.section-one input{

    display: inline-block;
    height:25px;
    width: 50%;
    margin-left: 2%;
  }
  .container .event-container .event-section.section-two .user-access-bar.section-one button{

    display: inline-block;
    height:33px;
    width: 20%;
    margin-left: 8%;
    background-color: #4CAF50;
    color: white;
    border: none;
  }
  .container .event-container .event-section.section-two .user-access-bar.section-two p{
    font-family: 'Roboto', sans-serif;
    color: black;
    display: inline-block;
    margin-left: 14%;
  }
  .container .event-container .event-section.section-two .user-access-bar.section-two .dropdown .dropbtn {
    background-color: white;
    color: black;
    padding: 8px;
    font-size: 16px;
    border: 1px solid black;
    cursor: pointer;
  }
  
  .container .event-container .event-section.section-two .user-access-bar.section-two .dropdown .dropbtn:hover,.container .event-container .event-section.section-two .user-access-bar.section-two .dropdown .dropbtn:focus {
    background-color: #4CAF50;
  }
  
  #myInput {
    box-sizing: border-box;
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  #myInput:focus {outline: 3px solid #ddd;}
  
  .container .event-container .event-section.section-two .user-access-bar.section-two .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

  .container .event-container .event-section.section-two .user-access-bar.section-three button{

    display: inline-block;
    height:33px;
    width: 30%;
    margin-left: 8%;
    background-color: #3ec0fd;
    color: white;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
  }
  
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    background: transparent;
  }
  
  .form-container {
    max-width: 300px;
    padding: 10px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bolder;
  }
  
  .form-container input[type=text], .form-container input[type=number] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  .form-container input[type=text]:focus, .form-container input[type=number]:focus {
    background-color: #ddd;
    outline: none;
  }
  .container .event-container .event-section.section-two .employee-section{
    display: inline-block;
    width: 100%;
    background-color: white;
    border: 1px solid black;
    color: black;
  }
  .employee-card {
    padding: 10px 10px;
    max-width: 23%;
    background-color: #e9e8e8;
    margin: 1% 1%;
    display: none;
 }
  .container-image {
    display: inline-block;
    vertical-align: top;
    width: 35%;
 }
  .container-text {
    display: inline-block;
    width: 61%;
 }
 .container-text h4{
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.7);
   margin: 0;
 }
 .container-text p{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
   color: gray;
   margin: 0;
 }
 .container .event-container .event-section.section-one .office, .container .event-container .event-section.section-one .job-title{
   margin-top: 20%;
 }
 .container .event-container .event-section.section-one button{
   display: inline-block;
   background: white;
   border: none;
   font-size: 14px;
   cursor: pointer;
 }
 .container .event-container .event-section.section-one p{
   display: inline-block;
 }
 .container .event-container .event-section.section-one h3{
   margin-left: 2%;
 }
 .container .event-container .event-section.section-one .department .department-list{
   margin-top: -7%;
 }
 .container .event-container .event-section.section-one .office .office-list{
  margin-top: -7%;
}
.container .event-container .event-section.section-one .job-title .job-title-list{
  margin-top: -7%;
}
.formerror{
  color: red;
}