  .container{
    margin: auto;
    width: 90%;
  }
  .container .topnav-container{
    border-bottom: 1px solid lightgray;
  }
  .container .topnav-container .topnav-section {
    display: inline-block;
  }
  .container .topnav-container .topnav-section.logo-section {
    width: 20%;
  }
  .container .topnav-section.logo-section .logo a{
    display: flex;
  }
  .container .topnav-section.logo-section .logo img{
    width: 82%;
    margin: 7% 0% 0% 8%;
  }
  .container .topnav-container .topnav-section.employee-directory-section {
    width: 49.4%;
  }
  .container .topnav-container .topnav-section.profile-section {
    width: 30%;
    font-size: 20px;
  }
  .container .topnav-container .topnav-section.employee-directory-section h1{
    font-family: 'Roboto', sans-serif;
    color:#3ec0fd; 
    font-size: 40px;
    position: absolute;
    top: 0%;
  }
  .container .topnav-container .topnav-section.employee-directory-section p{
    font-family: 'Roboto', sans-serif;
    color:rgba(0, 0, 0, 0.7); 
    font-size: 22px;
    position: absolute;
    top:6%
  }
  .container .topnav-container .topnav-section.profile-section h2{
    font-family: 'Roboto', sans-serif;
    color:#3ec0fd; 
  }
  .container .event-container{
    margin-top: 1%;
  }
  .container .event-container .event-section {
    display: inline-block;
  }
  
  .container .event-container .event-section.filter-section {
    width: 20%;
    vertical-align: top;
  }
  
  .container .event-container .event-section.employee-display-section {
    width: 79%;
    color: white;
    background-color: white;
  }
  .container .event-container:after {
    content: "";
    display: table;
    clear: both;
  }
  .container .event-container .event-section.employee-display-section .user-access-bar{
    display: inline-block;
    margin-top: -1%;
  }
  .container .event-container .event-section.employee-display-section .user-access-bar.search-employee-section {
    width: 33%;
    text-align: left;
  }
  .container .event-container .event-section.employee-display-section .user-access-bar.filter-employee-section {
    width: 33%;
    text-align: center;
  }
  .container .event-container .event-section.employee-display-section .user-access-bar.add-employee-button {
    width: 33%;
    text-align: right;
  }
  .container .event-container .event-section.employee-display-section .user-access-bar.search-employee-section p{
    font-family: 'Noto Sans', sans-serif;
    color: rgba(0, 0, 0, 0.616);
    display: inline-block;
    letter-spacing: -1px;
  }
  .container .event-container .event-section.employee-display-section .user-access-bar.search-employee-section input{
    width: 84%;
    -webkit-appearance:textfield;
    box-sizing: content-box;
    border: none;
    outline: none;
    font-size: 11px;
  }
  .container .event-container .event-section.employee-display-section .user-access-bar.search-employee-section .search-box{
    display: inline-block;
    width: 46%;
  background-color: white;
  border: 1px solid #c4c1c1;
  border-radius: 0px;
	align-items: center;
  padding: 8px 6px;
  margin-left: 2%;
  }
  .container .event-container .event-section.employee-display-section .user-access-bar.search-employee-section .search-box > i {
    color: #c4c1c1;
  }
  .container .event-container .event-section.employee-display-section .search-button button{
    background: rgb(0, 177, 252);
    font-size: 22px;
    color: white;
    border: none;
    cursor: pointer;
    width: 33px;
    height: 33px;
    margin-top: 1%;
  }
  .container .event-container .event-section.employee-display-section .user-access-bar.search-employee-section button{

    display: inline-block;
    padding: 10px 0px;
    width: 20%;
    margin-left: 8%;
    background-color: #69ba00;
    color: white;
    border: none;
  }
  .container .event-container .event-section.employee-display-section .user-access-bar.filter-employee-section p{
    font-family: 'Noto Sans', sans-serif;
    color: rgba(0, 0, 0, 0.616);
    font-weight: bold;
    display: inline-block;
    letter-spacing: -1px;
  }
  
  .container .event-container .event-section.employee-display-section .user-access-bar.add-employee-button button{

    display: inline-block;
    height:33px;
    width: 30%;
    margin-left: 8%;
    background-color: #3ec0fd;
    color: white;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
  }
  
  .form-popup {
    display: none;
    height: 100%;
    overflow-y: scroll;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    background: white;
  }
  
  .form-popup .form-container {
    max-width: 300px;
    padding: 10px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bolder;
  }
  
  .form-popup .form-container input[type=text], .form-container input[type=number] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 0px 0;
    border: none;
    background: rgb(241,241,241);
  }
  
  .form-popup .form-container input[type=text]:focus, .form-container input[type=number]:focus {
    outline: none;
  }
  .container .event-container .event-section.employee-display-section .employee-section{
    display: inline-block;
    width: 100%;
    background-color: white;
    border: 1px solid lightgrey;
    color: black;
  }
  .container .event-container .event-section.employee-display-section .employee-section .employee-card {
    padding: 10px 10px;
    max-width: 22%;
    background-color: #e9e8e8;
    margin: 1% 1%;
    display: none;
 }
 .container .event-container .event-section.employee-display-section .employee-section .employee-card img.container-image {
    display: inline-block;
    vertical-align: top;
    width: 27%;
    height: 79px;
 }
 .container .event-container .event-section.employee-display-section .employee-section .employee-card .container-text {
    display: inline-block;
    width: 61%;
 }
 .container .event-container .event-section.employee-display-section .employee-section .employee-card .container-text h4{
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.7);
   margin: 0;
 }
 .container .event-container .event-section.employee-display-section .employee-section .employee-card .container-text p{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
   color: gray;
   margin: 0;
 }
 .container .event-container .event-section.employee-display-section .employee-section .employee-card .container-text .employee-job-title{
   margin-top: 2%;
 }
 .container .event-container .event-section.filter-section .office, .container .event-container .event-section.filter-section .job-title{
   margin-top: 20%;
 }
 .container .event-container .event-section.filter-section button{
   display: inline-block;
   background: white;
   border: none;
   font-size: 14px;
   cursor: pointer;
   font-family: 'Noto Sans', sans-serif;
 }
 .container .event-container .event-section.filter-section p{
   display: inline-block;
   font-family: 'Noto Sans', sans-serif;
   font-size:13px;
 }
 .container .event-container .event-section.filter-section h3{
   margin-left: 2%;
   font-family: 'Noto Sans', sans-serif;
   letter-spacing: -1px;
 }
 .container .event-container .event-section.filter-section .department .department-list{
   margin-top: -6%;
 }
 .container .event-container .event-section.filter-section .office .office-list{
  margin-top: -6%;
}
.container .event-container .event-section.filter-section .job-title .job-title-list{
  margin-top: -6%;
}
.formerror{
  color: red;
  font-size: 11px;
}
.form-button{

  display: inline-block;
  height:33px;
  width: 30%;
  margin-left: 8%;
  background-color: #3ec0fd;
  color: white;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  font-weight: bolder;
  cursor: pointer;
}
.cancel-button{

  display: inline-block;
  height:33px;
  width: 30%;
  background-color: #3ec0fd;
  color: white;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  font-weight: bolder;
  cursor: pointer;
}
.container .event-container .event-section.filter-section .view-more button{
    color: rgb(0, 177, 252);
    font-weight: bolder;
}
.form-container h1{
  display: inline-block;
}
.form-field{
  margin-bottom: 10%;
}
.star{
  color: red;
}
#selectType{
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  font-size: 12px;
  width: 35%;
    border: 1px solid lightgrey;
    border-radius: 0px;
    padding: 8px 10px;
    color: rgba(0, 0, 0, 0.514);
    display: inline-block;
    margin-left: 2%;
}
.fas.fa-phone-square-alt, .fas.fa-envelope, .fas.fa-comment, .fas.fa-star, .fas.fa-heart{
  color: gray;
  margin-top: 4%;
  margin-right: 1%;
}
#buttonsHolder{
  margin-top: 1%;
  display: inline-block;
}
.form-popup .form-inline {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  box-sizing: border-box;
}

.form-popup .form-inline label {
  margin: 5px 10px 5px 0;
  box-sizing: border-box;
}

.form-popup .form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.form-popup .form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
  box-sizing: border-box;
}

.form-popup .form-inline button:hover {
  background-color: royalblue;
  box-sizing: border-box;
}
.profile-name{
  color: rgba(0, 0, 0, 0.7);
  font-weight: lighter;
}
.profile-pic{
  width: 14%;
  margin-left: 2%;
}
.container .event-container .event-section.employee-display-section .note{
  color: rgba(0, 0, 0, 0.7);
  font-family: 'Noto Sans', sans-serif;
  font-size: 12px;
}
.container .event-container .event-section.employee-display-section .note .note-section{
  color: black;
}
@media(min-width: 1440px) and (max-width: 1679px){
  .container .topnav-container .topnav-section.employee-directory-section {
    width: 48%;
  }
  .container .topnav-container .topnav-section.profile-section {
    width: 31%;
    font-size: 20px;
  }
}